.balance-wrapper {
	display: flex;
	margin-left: auto;
}

.balance__link {
	text-decoration: none;
	color: #333;
	letter-spacing: 2px;
	font-size: 22px;
	font-weight: 700;
}

.balance__link:hover {
	text-decoration: underline;
}

.balance__link::after {
	content: '₽';
}
